{% extends "navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage: Study Cafes</title>
    </head>
    <body>
        <h1 id="homepage-welcome"> kafei | 咖啡 </h1>
        <h2 id="homepage-more">(kah-fay) "coffee" in Mandarin Chinese</h2>
        <h3 id="homepage-about">
            Kafei is a collection of the best coffee shops in NYC for studying and work-from-home.
            <br><br>
            Explore the city, support local, and find your go-to study spot - all in one sip.
            <br><br><br><br>
        </h3>

        <div class="break"></div>
        <h2 id="homepage-welcome">our current favorites</h2>
        <div id="cafe-list"></div>
        <div class="footer"></div>
    </body>
{% endblock  %}